.calendar
{
  height: 560px;
}
@media (max-width: 600px)
{
  .calendar
   {
    height: 300px;
   }
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: local(""), url("/fonts/open-sans-v18-latin-300.woff2") format("woff2"),
    url("/fonts/open-sans-v18-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local(""),
    url("/fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
    url("/fonts/open-sans-v18-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;

  src: local(""), url("/fonts/open-sans-v18-latin-600.woff2") format("woff2"),
    url("/fonts/open-sans-v18-latin-600.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  animation: fadeIn 0.2s both;
}

@keyframes fadeIn {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}
